# Build
target/
build/
out/
bin/

# Maven
.mvn/wrapper/maven-wrapper.jar
pom.xml.*
release.properties

# Spring Boot
*.original

# IDE
.idea/
.settings/
.classpath
.project
.vscode/
*.iml
*.ipr
*.iws
nbproject/
nb-configuration.xml

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/
*.tmp
*.swp
*~

# Env / secrets
.env
.env.*
!.env.example

# Docker volume (se montado localmente)
pgdata/
